div#friend-wrapper {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

div#friend-wrapper p {
    color: #09d3ac;
    margin: 45px 5px;
}

div#friend-wrapper .code-button, input {
    background: none;
    border: 1px solid #09d3ac;
    border-radius: 15px;
    color: #09d3ac;
    font-size: 14px;
    outline: none;
    width: 100%;
    padding: 15px;
    margin: 10px auto;
}

.show, .no-show {
    border: 1px solid #09d3ac;
    border-radius: 15px;
    font-size: 14px;
    outline: none;
    width: 100%;
    padding: 15px;
    margin: 10px auto;
}

.no-show {
    background: #09d3ac;
    color: #ffffff;
}

.show {
    background: none;
    color: #09d3ac;
}